<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "New Store Product" });
    });
  </script>
<% end %>
<script type="text/javascript">
  ShopifyApp.init({
    apiKey: "<%= ShopifyApp.configuration.api_key %>",
    shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
    debug: <%= Rails.env.development? ? 'true' : 'false' %>,
    forceRedirect: true
  });
</script>
<%= form_for(@store_product) do |form| %>
  <% if store_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store_product.errors.count, "error") %> prohibited this store_product from being saved:</h2>

      <ul>
      <% store_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :store_product_id, @in_store_products, :id, :title %>

  <%= form.collection_select :product_id, @products, :id, :sku %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
